@use 'sass:color';
@use '../mastodon/functions';

// Kiara's espresso palette
$bg-black: #000000;
$bg-darker: #21140c;
$bg-dark: #34251b;
// Src: https://www.color-hex.com/color-palette/24950
$bg-highlight: #4f3828; // Substitutes ligthten()ed $bg-dark.
// Kiara's original is too light.
// $highlight: #ca8f04;
$highlight: #e5ab14;
$action: #d9a982;
$action-soft: #dfc29f;
$text-dim: #9c856a;

@use '../mastodon/variables' with(
  $simple-background-color: $bg-dark,
  $ui-base-color: $bg-darker,
  $ui-base-lighter-color: $bg-dark,

  $ui-primary-color: $action,
  $ui-secondary-color: $action-soft,
  $ui-highlight-color: $highlight,

  $ui-button-color: $bg-darker,
  $ui-button-background-color: $highlight,
  $ui-button-focus-background-color: darken($highlight, 7%),
  $ui-button-focus-outline-color: darken($highlight, 7%),
  $ui-button-focus-outline: solid 2px darken($highlight, 7%),

  $ui-button-secondary-color: $action,
  $ui-button-secondary-border-color: $action,
  // $ui-button-secondary-focus-background-color: $action,
  $ui-button-secondary-focus-color: $bg-darker,

  $ui-button-tertiary-color: $action-soft,
  $ui-button-tertiary-border-color: $action-soft,
  $ui-button-tertiary-focus-background-color: $action-soft,
  $ui-button-tertiary-focus-color: $bg-darker,

  $dark-text-color: $text-dim, // Muted text, notifications.

  $action-button-color: $action,

  $passive-text-color: $highlight,
  $active-passive-text-color: $highlight,

  // For texts on inverted backgrounds
  // We pretty much force all inverted areas to not be inverted anymore, so we set inverted text colors
  // to be the same as non-inverted ones.
  $inverted-text-color: #fff, // Text on "replying to" window, emoji picker and boost modal.
  $light-text-color: $action, // Darker text in modal.
  $lighter-text-color: $action-soft, // Some buttons in compose box.
);
