name: Build container image

on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  publish:
    name: Build and push image
    strategy:
      matrix:
        image:
          - dockerfile: Dockerfile
            name: ${{ github.repository }}
          - dockerfile: Dockerfile.streaming
            name: ${{ github.repository }}-streaming
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Mastodon version
        id: version
        run: |
          echo "mastodon=$(sed -nr 's/^ARG MASTODON_VERSION="(.*)"$/\1/p' '${{ matrix.image.dockerfile }}')" >> "$GITHUB_OUTPUT"
      - name: Generate tag
        id: tag
        run: |
          echo "bare=${{ steps.version.outputs.mastodon }}" >> "$GITHUB_OUTPUT"
          # A more semver-correct way of generating this would be to use "+" rather than "sha.".
          # Unfortunately, image tags cannot contain "+".
          echo "full=${{ steps.version.outputs.mastodon }}-$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          file: ${{ matrix.image.dockerfile }}
          tags: |
            ghcr.io/${{ matrix.image.name }}:${{ steps.tag.outputs.bare }}
            ghcr.io/${{ matrix.image.name }}:${{ steps.tag.outputs.full }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
